//---------------------------------------------------------//
// Override Boostrap Variables
//---------------------------------------------------------//

$gray-lighter:				#f5f5f5;
$gray-light:				#cccdd4;
$gray:						#898989;
$gray-darker:				#383838;

$brand-primary: 			#2a2e5b;
$brand-secondary:			#ff002f;
$brand-info:				#0a61d2;



$text-color:				#000000;

$link-color:				#000000;

// Type



$font-family-sans-serif:  'Open Sans', sans-serif;

$font-size-base:          15px;
$line-height-base:        1.6;

// Components

$padding-base-vertical:     6px;
$padding-base-horizontal:   40px;

$padding-large-vertical:    22px;
$padding-large-horizontal:  40px;