//---------------------------------------------------------//
// LAYOUT
//---------------------------------------------------------// 
// - base structure layouts 
// - override bootstrap layouts
//---------------------------------------------------------//

* {
	outline: none;
}

html {
	font-size: 100%;
}

body {
	font-size: rem($font-size-base);
}




.container {
	@include breakpoint(lg) {
		width: auto;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}