//---------------------------------------------------------//
// TYPOGRAPHY
//---------------------------------------------------------// 
// - All types of typography
// - Font-face
// - Headings
// - Paragraphs
//---------------------------------------------------------//


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');


h1, h2, h3, h4, h5, h6, p, ul, ol, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
}


h1, h2, h3, h4, h5, h6, ul, ol, p {
	margin-bottom: rem($globalMarginBottom);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: normal;
}

p.h1, p.h2, p.h3, p.h4, p.h5, p.h6 {
	line-height: $line-height-base;
}

.text-lg {
	font-size: 16px;
	@include breakpoint(sm) {
		font-size: 18px;
	}
}

.text-secondary {
	color: $brand-secondary;
}


h1, .h1 {
	font-weight: 300;
	font-size: 36px;
	@include breakpoint(sm) {
		font-size: 48px;
	}
}

h2 {
	font-size: 30px;
	@include breakpoint(sm) {
		font-size: 35px;
	}
}

h3, .h3 {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	@include breakpoint(sm) {
		font-size: 26px;
	}
}

h4, .h4 {
	font-size: 18px;
	@include breakpoint(sm) {
		font-size: 22px;
	}
}

h5, .h5 {
	font-weight: 600;
	font-size: 15px;
}




.rte {
	font-size: 15px;
	@include breakpoint(sm) {
		font-size: 18px;
	}
}




// Testimonial

blockquote {
	border: none;
	padding: 0;
	font-size: 19px;
	font-weight: bold;
	color: $brand-primary;
	@include breakpoint(sm) {
		font-size: 25px;
	}
}

.author {
	font-size: 18px;
	display: block;
	color: $brand-primary;
	@include breakpoint(sm) {
		font-size: 18px;
	}
}


.testimonial {
	
}