doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		//link(rel="icon",href="../../favicon.ico")
		title= title
		block styles
			link(rel="stylesheet",href="../build/css/style.css")
			link(rel="stylesheet",href="../build/css/bower.css")
	body()
		block body
			
		block scripts
			script(src="../build/javascript/main.js")