extends ../_header
block body
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Project name
			#navbar.navbar-collapse.collapse
				form.navbar-form.navbar-right
					.form-group
						input.form-control(type='text', placeholder='Email')
					.form-group
						input.form-control(type='password', placeholder='Password')
					button.btn.btn-success(type='submit') Sign in

	.jumbotron
		.container
			h1 Hello, world!
			p
				| This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
			p
				a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
	.container
		.row
			.col-md-4
				h2 Heading
				p
					| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				p
					a.btn.btn-default(href='#', role='button') View details »
			.col-md-4
				h2 Heading
				p
					| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				p
					a.btn.btn-default(href='#', role='button') View details »
			.col-md-4
				h2 Heading
				p
					| Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				p
					a.btn.btn-default(href='#', role='button') View details »
		hr
		footer
			p © Company 2014
	block content