//---------------------------------------------------------//
// Buttons
//---------------------------------------------------------// 
// - All Buttons
//---------------------------------------------------------//



button, a, .btn {
	@include transition(background-color $easing-speed $easing, border-color $easing-speed $easing, color $easing-speed $easing);
}


button {
	background: none;
	padding: 0;
	margin: 0;
	border: none;
}


.btn {
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: none !important;
	border: 2px solid transparent;
	text-transform: uppercase;
	position: relative;
	.icon-image-right, .icon-image-left {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.icon-image-right {
		right: 32px;
	}
	.icon-image-left {
		left: 32px;
	}
	@include breakpoint(xs-only) {
		border: 1px solid transparent;
		&.btn-lg {
			font-size: 16px;
		}
	}
}

.btn-with-arrow {
	padding-right: 60px;
	padding-left: 60px;
}

.btn-secondary {
	background-color: $brand-secondary;
	color: #ffffff;
	&:hover, &:focus {
		background-color: darken($brand-secondary, 10%);
		color: #ffffff;
	}
}


.btn-border {
	border-color: #ffffff;
	background-color: rgba($brand-primary, 0.4);
	color: #ffffff;
	&:hover, &:focus {
		color: #ffffff;
		background-color: rgba($brand-primary, 1);
	}
}


.cta-btns {
	position: relative;
	a {
		margin-bottom: 25px;
		display: block;
	}
	@include breakpoint(sm) {
		a {
			min-width: 390px;
		}
	}
}

.btn-link {
	padding: 0;
	margin: 0;
	font-size: 16px;
	text-transform: none;
	font-weight: 600;
	.ss-navigateright {
		font-size: 14px;
	}
	&:hover, &:focus {
		text-decoration: none;
	}
	@include breakpoint(sm) {
		font-size: 18px;
	}
}