//---------------------------------------------------------//
// Forms
//---------------------------------------------------------// 


label {
	font-size: 15px;
	font-weight: bold;
	line-height: 2;
	display: block;
    margin: 0;
    position: relative;
}




input[type="text"] {
	display: block;
    border-radius: 0;
    width: 100%;
   	height: 50px;
    padding: 0 20px;
    border: 1px solid #cccdd4;
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    color: #000;
    background-color: #fff;
    box-shadow: none;
    transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: normal;
    margin-bottom: 20px;
    &:focus {
    	border-color: $brand-primary;
    }
}


.form-content {
	@include breakpoint(sm) {
        max-width: 375px;
    }
}


.options, .step-index {
    float: right;
    font-size: 12px;
    color: #888992;
    position: relative;
    top: 2px;
    font-weight: normal;
}



// Checkbox and Radio

.radio, .checkbox {
    margin-bottom: 30px;
    .control, label {
        font-weight: bold;
        margin: 0;
        padding-left: 40px;
    }
}

.control {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  text-transform: none;
  font-weight: bold;
  &.control-inline {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
  }
}
.control input {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}
.control-indicator {
  position: absolute;
  top: 3px;
  left: 0;
}


/* Focus */
.control input:focus ~ .control-indicator {
    
}

/* Checked state */
.control input:checked ~ .control-indicator {
      
}

/* Active */
.control input:active ~ .control-indicator {
    
}


/* Checkbox modifiers */
.checkbox, .radio {
    .control-indicator {
        width: 25px;
        height: 25px;
        display: block;
    }
}
.checkbox .control-indicator {
    background: url(../../images/icons/icon-checkbox.png) 0 0 no-repeat;
    background-size: 25px 50px;
}
.checkbox input:checked ~ .control-indicator {
    background-position: 0 -25px;
}

/* Radio modifiers */
.radio .control-indicator {
    background: url(../../images/icons/icon-radio.png) 0 0 no-repeat;
    background-size: 25px 50px;
}
.radio input:checked ~ .control-indicator {
    background-position: 0 -25px;
}




// Input Choices

.input-choices {
    position: relative;
    font-size: 15px;
    &.primary {
        .choices-box {
            border-radius: 20px;
            padding: 1px 10px;
            background-color: $gray-lighter;
        }
        .input-close {
            background-color: $brand-info;
            &:hover {
                background-color: darken($brand-info, 25%);
            }
        }
    }
    &.secondary {
        .choices-box {
            background-color: $gray-light;
        }
        .input-close {
            background-color: #9b9ba1;
            &:hover {
                background-color: darken(#9b9ba1, 25%);
            }
        }
    }
}

.choices-box {
    border: 1px solid $gray-light;
    padding: 1px 6px;
    position: absolute;
    top: 9px;
    left: 9px;
    background-color: #ffffff;
    font-weight: normal;
}

.input-close {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background: url(../../images/icons/icon-close1.png) 50% 50% no-repeat;
    background-color: $gray-light;
    background-size: 8px 8px;
    cursor: pointer;
    margin-left: 6px;
    font-style: normal;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: darken($gray-light, 25%);
    }
}