//---------------------------------------------------------//
// Hero
//---------------------------------------------------------// 

.hero {
	height: 545px;
	position: relative;
	padding: 30px 0 30px 0;
	text-align: center;
	.hero-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.hero-content {
		color: #ffffff;
	}
	.valign {
		position: relative;
		height: 100%;
		z-index: 2;
		.valign-content {
			vertical-align: top;
		}
	}

	h1, h2 {
		letter-spacing: -1px;
	}
	h1 {
		text-transform: uppercase;
		font-size: 35px;
	}
	h2 {
		font-size: 20px;
	}
	.cta-btns {
		margin-top: 130px;
	}
	&.hero-inner {
		padding-top: 50px;
		padding-bottom: 50px;
		height: auto;
		h1 {
			font-size: 28px;
			text-transform: none;
			font-weight: normal;
			color: $gray-darker;
			line-height: 1.3;
		}
	}
	@include breakpoint(sm) {
		height: 790px;
		.valign {
			.valign-content {
				vertical-align: middle;
			}
		}
		.cta-btns {
			display: inline-block;
			vertical-align: middle;
			margin-top: 0;
		}
		h1 {
			font-size: 70px;
		}
		h2 {
			font-size: 38px;
		}
	}
	@include breakpoint(lg) {
		&.hero-inner {
			padding-top: 80px;
			padding-bottom: 80px;
			h1 {
				font-size: 48px;
			}
		}
		h1 {
			font-size: 76px;
		}
	}
}



.draftday-logo {
	background: url('#{$img-url}/draftday-logo.png') 0 0 no-repeat;
	@include background-retina(215, 203);
	display: inline-block;
	vertical-align: middle;
	margin-right: 42px;
	margin-left: -245px;
	margin-top: -20px;
}