//---------------------------------------------------------//
// Icons
//---------------------------------------------------------// 
// - All Icons
//---------------------------------------------------------//

.icon-image, .icon {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-image-arrow-right {
	background: url('#{$icon-url}/icon-arrow-right.png') 0 0 no-repeat;
	@include background-retina(9, 16);
	margin-left: 25px;
}

.icon-image-play {
	background: url('#{$icon-url}/icon-play.png') 0 0 no-repeat;
	@include background-retina(29, 29);
}

.icon-margin-left {
	margin-left: 5px;
	@include breakpoint(lg) {
		margin-left: 25px;
	}
}

.ss-navigateright {
	&:before {
		top: 1px;
		position: relative;
	}
	@include breakpoint(sm) {
		&:before {
			top: 3px;
		}
	}
}