//---------------------------------------------------------//
// Navigation
//---------------------------------------------------------// 
// - All Menus
//---------------------------------------------------------//


.nav {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		margin-bottom: 0;
	}
}






// Navbar

.navbar-nav {
	@extend .nav;
	display: block;
	li {
		display: block;
	}
	> li > a {
		color: #ffffff;
		font-size: 16px;
		font-weight: 600;
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
	}
	> li > a:not(.btn) {
		color: rgba(#ffffff, 0.7);
	}
	> li.active > a, > li > a:hover, > li >a:focus {
		color: rgba(#ffffff, 1);
		text-decoration: none;
	}
	@include breakpoint(xs-sm) {
		.sign-up-btn {
			border-top: 1px solid #ffffff;
			padding-top: 30px;
			margin-top: 30px;
		}
	}
	@include breakpoint(md) {
		display: inline-block;
		vertical-align: middle;
		li {
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;
		}
		> li > a {
			height: 96px;
			display: table-cell;
			vertical-align: middle;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 0;
			padding-top: 0;
		}
	}
	@include breakpoint(lg) {
		> li > a {
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	@include breakpoint(xlg) {
		> li > a {
			font-size: 18px;
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}

.navbar-inner {
	a {
		font-size: 15px;
		display: block;
		color: #ffffff;
		font-weight: 600;
	}
	li {
		display: block;
		margin: 0 0 15px 0;
	}
}