//---------------------------------------------------------//
// Navbar
//---------------------------------------------------------// 


.navbar {
	background-color: $brand-primary;
	@include clearfix();
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1009;
	.valign {
		height: 80px;
	}
	.btn {
		border-radius: 0;
		font-weight: bold;
		font-size: 17px;
	}
	.ss-navigateright {
		&:before {
			top: 1px;
			position: relative;
		}
	}
	@include breakpoint(md) {
		text-align: center;
		.valign {
			height: 96px;
		}
	}
}

.navbar-brand {
	background: url('#{$img-url}/f45-logo.png') 0 0 no-repeat;
	@include background-retina(73, 36);
	float: left;
	text-indent: -99999px;
	@include breakpoint(md) {
		margin-left: 20px;
	}
	@include breakpoint(lg) {
		margin-left: 100px;
	}
}

.navbar-header {
	padding-left: 20px;
	padding-right: 20px;
	@include breakpoint(md) {
		float: left;
		padding-left: 0;
		padding-right: 0;
	}
}


.navbar-menu-content {
	float: right;
	@include breakpoint(xs-sm) {
		background-color: $brand-primary;
		position: fixed;
		top: 0;
		width: 100%;
		right: 0;
		padding: 0px 20px 0px 20px;
		transform: translateX(100%);
		-webkit-transition: transform 0.25s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 0.25s ease-in-out;
		transition: transform 0.25s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 0.25s ease-in-out;
		opacity: 0;
		visibility: hidden;
		overflow: auto;
	}
	@include breakpoint(md) {
		height: auto !important;
	}
}

.navbar-menu-header {
	@include clearfix();
	margin-bottom: 0px;
	padding-top: 15px;
	@include breakpoint(md) {
		display: none;
	}
}

.navbar-menu {
	float: right;
	margin-left: 10px;
	padding: 5px;
	margin-right: -5px;
	.icon-line {
		width: 36px;
		height: 3px;
		margin-bottom: 9px;
		background-color: #ffffff;
		display: block;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include breakpoint(md) {
		display: none;
	}
}

.navbar-menu-close {
	float: right;
	padding: 10px;
	margin-top: 0;
	margin-right: -10px;
	.icon-close {
		background: url('#{$icon-url}/icon-close.png') 0 0 no-repeat;
		@include background-retina(30, 30);
	}
}

.header, .main, .footer {
	@include breakpoint(xs-sm) {
		-webkit-transition: transform 0.25s cubic-bezier(1.000, 0.000, 0.000, 1.000);
		transition: transform 0.25s cubic-bezier(1.000, 0.000, 0.000, 1.000);
	}
}

.menu-open {
	background-color: $brand-primary;
	@include breakpoint(xs-sm) {
		.navbar-menu-content {
			opacity: 1;
			visibility: visible;
		}
		.header, .main, .footer {
			transform: translateX(-100%);
		}
	}
}