//---------------------------------------------------------//
// By Numbers
//---------------------------------------------------------// 


.by-number {
	background:  url('#{$img-url}/bg-texture.jpg') 50% 50% no-repeat;	
	background-size: cover;
	color: #ffffff;
	h1, h2, h3, h4, h5, h6, a, a:hover, a:focus {
		color: inherit;
	}
}


.numbers {
	@extend .nav;
	font-size: 0;
	li {
		font-size: 18px;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		text-align: center;
		margin-bottom: 30px;
	}
	.num {
		font-size: 60px;
		display: block;
		line-height: 1.3;
	}
	em {
		font-style: normal;
		color: $brand-secondary;
	}
	@include breakpoint(sm) {
		li {
			margin-bottom: 55px;
		}
		.num {
			font-size: 70px;
		}
	}
	@include breakpoint(md) {
		li {
			width: 240px;
		}
	}
	@include breakpoint(lg) {
		.num {
			font-size: 85px;
		}
		li {
			width: 290px;
		}
	}
	@include breakpoint(xlg) {
		.num {
			font-size: 90px;
		}
		li {
			width: 333px;
		}
	}
}