//---------------------------------------------------------//
// Footer
//---------------------------------------------------------// 

.footer {
	text-align: center;
	@include breakpoint(sm) {
		padding: 40px 0 0px 0;
		text-align: left;
	}
}

.footer-content {
	border: none;
	padding: 0px 0 40px 0;
	color: #7b7c84;
	@include clearfix();
	@include breakpoint(sm) {
		padding: 40px 0 40px 0;
		border-top: 1px solid $gray;
	}
}

.footer-left {
	@include breakpoint(sm) {
		float: left;
	}
}
.footer-right {
	@include breakpoint(sm) {
		float: right;
	}
}

.copyright {
	margin-bottom: 25px;
	@include breakpoint(sm) {
		margin-bottom: 0;
	}
}


.footer-social {
	@extend .nav;
	li {
		display: inline-block;
	    vertical-align: top;
	}
	a {
		display: block;
	    width: 35px;
	    height: 35px;
	    border-radius: 50%;
	    line-height: 35px;
	    text-align: center;
	    color: #ffffff;
	    font-size: 1.125rem;
	    transition: background-color 0.2s ease-in-out;
	    margin: 0 0.625rem;
	    &.social-facebook {
	    	background-color: #3b5998;
	    	&:hover, &:focus {
	    		background-color: darken(#3b5998, 10%);
	    	}
	    }
	    &.social-twitter {
	    	background-color: #319dee;
	    	&:hover, &:focus {
	    		background-color: darken(#319dee, 10%);
	    	}
	    }
	    &.social-instagram {
	    	background-color: #3f729b;
	    	&:hover, &:focus {
	    		background-color: darken(#3f729b, 10%);
	    	}
	    }
	    &.social-youtube {
	    	background-color: #e52d27;
	    	&:hover, &:focus {
	    		background-color: darken(#e52d27, 10%);
	    	}
	    }
	}
}