//---------------------------------------------------------//
// Main
//---------------------------------------------------------// 

.main {
	padding-top: 80px;
	@include breakpoint(md) {
		padding-top: 96px
	}
}


// Blocks

.block {
	padding: 50px 0 50px 0;
	&.block-light-gray {
		background-color: $gray-lighter;
	}
	@include breakpoint(sm) {
		padding: 70px 0 70px 0;
	}
}




// Ads

.signup-banner {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 150px;
	display: block;
	margin-bottom: 40px;
	@include breakpoint(sm) {
		height: 250px;
	}
}
