//---------------------------------------------------------//
// Dropdown
//---------------------------------------------------------// 

.dropdown {
	.h5 {
		margin-bottom: 20px;
	}
	&.open {
		> a {
			position: relative;
			&:after {
				content:'';
				width: 100%;
				height: 3px;
				background-color: #ffffff;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}
	}
	@include breakpoint(md) {
		position: static;
	}
}

.dropdown-menu {
	background: none;
	width: 100%;
	padding: 30px 0px;
	margin: 0;
	border-radius: 0;
	border: none;
	font-size: 12px;
	opacity: 0;
	color: #ffffff;
	visibility: hidden;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	box-shadow: none;
	position: relative;
	top: 0;
	@include breakpoint(md) {
		background-color: rgba($brand-info, 0.95);
		padding: 45px 40px;
		display: block;
		text-align: center;
		position: absolute;
		top: 100%;
		display: table;
	}
}
.dropdown-menu>li>a {
	color: #ffffff;
	padding: 16px 20px;
	&:hover, &:focus {
		background: none;
		color: $brand-primary;
		text-decoration: none;
	}
}
.open>.dropdown-menu {
	opacity: 1;
	visibility: visible;
}


.dropdown-title {
	display: block;
	margin-bottom: 40px;
	@include breakpoint(md) {
		border-bottom: 1px solid #1f234d;
	}
	@include breakpoint(xlg) {
		display: inline-block;
		vertical-align: middle;
		width: 420px;
		margin-bottom: 0;
		border: none;
		padding-right: 70px;
		margin-bottom: 50px;
	}
}
.dropdown-menu-content {
	@include breakpoint(md) {
		display: inline-block;
		vertical-align: middle;
		text-align: right;
	}
	@include breakpoint(xlg) {
		padding-left: 20px;
		border-left: 1px solid #1f234d;
	}
}

.dropdown-col {
	width: 220px;
	display: block;
	text-align: left;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 10px;
	margin-bottom: 30px;
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	@include breakpoint(md) {
		float: left;
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
		&:last-child {
			width: 180px;
		}
	}
	@include breakpoint(lg) {
		width: 260px;
	}
}







// Dropdown Select

.custom-select {
	margin-bottom: 20px;
	&.select-hidden {
		display: none;
	}
}

.dd-select {
	margin-bottom: 20px;
}

.dd-select-text {
	border: 1px solid $gray;
	padding: 16px 16px 17px 16px;
    height: 50px;
    line-height: 1.1;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
    transition: border-color 0.2s ease-in-out;
    color: #181A37;
    font-weight: normal;
    &:focus, &.active {
    	border-color: $brand-info;
    }
    &:after {
    	content: '';
    	border-left: 5px solid transparent;
    	border-right: 5px solid transparent;
    	border-top: 6px solid $gray;
    	position: absolute;
    	right: 20px;
    	top: 50%;
    	transform: translateY(-50%);
    }
    &.active {
    	&:after {
    		border-top: none;
    		border-bottom: 6px solid $gray;
    	}
    }
}

.dd-list {
	list-style: none;
	padding: 0;
	margin: 0;
	border: 1px solid $gray;
	border-top: none;
	color: #181A37;
	font-weight: normal;
	display: none;
	li {
		transition: background-color 0.2s ease-in-out;
		border-bottom: 1px solid $gray;
		padding: 14px 16px 13px 16px;
		cursor: pointer;
		&:last-child {
			border: none;
		}
		&:hover {
			background-color: $gray;
		}
	}
}
